{% extends "base.html" %}

{% load crispy_forms_tags %}         

{% block title %} 
| Login
{% endblock %}
{% block content %} 

<!--Register--> 
<div class="container container-fluid">
  
	<section class="vh-100">
		<div class="container py-5 h-100">
			<div class="row d-flex justify-content-center align-items-center h-100">
				<div class="col">
					<div class="card" id="list1" style="border-radius: .75rem; background-color: #eff1f2;">
					
           
              <h1 class="text-center">Login</h1>
              <form method="POST" class="mx-5">
                {% csrf_token %}
                {{ login_form|crispy }}
                <button class="btn btn-primary my-2" type="submit">Login</button>
              </form>
              <p class="text-center">Don't have an account? <a href="{% url 'accounts:register' %}">Create an account</a>.</p>


          
          </div>
				</div>
			</div>
		</div>
	</section>
</div>

{% endblock %}