{% extends 'base.html' %}

{% block title %}
| Home
{% endblock title %}

{% block content %}

<div class="container container-fluid">
	<section class="vh-100">
		<div class="container py-5 h-100">
			<div class="row d-flex justify-content-center align-items-center h-100">
				<div class="col">
					<div class="card" id="list1" style="border-radius: .75rem; background-color: #eff1f2;">
						<div class="card-body py-4 px-4 px-md-5">

							<p class="h1 text-center mt-3 mb-4 pb-3 text-primary">
								<i class="fas fa-list me-1"></i>
								<u>Tasks</u>
							</p>



							{% for task in tasks %}

							<ul class="list-group list-group-horizontal rounded-0 bg-transparent">

								<li
									class="list-group-item d-flex align-items-center ps-0 pe-3 py-1 rounded-0 border-0 bg-transparent">
									<div class="form-check">

										
										{% if task.isCompleted  == True %}
										<input class="form-check-input me-0" type="checkbox" value="{{task.id}}"
										id="{{task.id}}" aria-label="..." checked  disabled/>
										{% else %}
										<input class="form-check-input me-0" type="checkbox" value="{{task.id}}"
										id="{{task.id}}" aria-label="..." disabled />
										{% endif %}
											

									</div>
								</li>

								<li
									class="list-group-item px-3 py-1 d-flex align-items-center flex-grow-1 border-0 bg-transparent">
									<p class="lead fw-normal mb-0">{{task.title}}</p>
									
								</li>

								{% if task.details %}
								<li
									class="list-group-item px-3 py-1 d-flex align-items-center flex-grow-1 border-0 bg-transparent">
									<p class="lead fw-normal mb-0">{{task.details}}</p>
								</li>
								{% else %}
								{% endif %}



								<li class="list-group-item ps-3 pe-0 py-1 rounded-0 border-0 bg-transparent">
									<div class="d-flex flex-row justify-content-end mb-1">
										<a href="{% url 'todo:update_task' task.id  %}" class="text-info" data-mdb-toggle="tooltip" title="Edit todo">
											<i class="fas fa-pencil-alt me-3"></i>

										</a>

										<a href="{% url 'todo:delete_task' task.id %}" class="text-danger" data-mdb-toggle="tooltip"
											title="Delete todo"><i class="fas fa-trash-alt"></i>
										
										</a>
										{% if task.isCompleted  == True %}

											<a href="{% url 'todo:uncomplete_task' task.id %}" class="text-info mx-3" data-mdb-toggle="tooltip"
												title="Un Complete todo"><i class="fa fa-check-circle" >

												</i>
											</a>

										{% else %}

											<a href="{% url 'todo:complete_task' task.id %}" class="text-success mx-3" data-mdb-toggle="tooltip"
												title="Complete todo"><i class="fa fa-check-circle">

											</i>
											</a>
											
										{% endif %}
										
									</div>
									<div class="text-end text-muted">
										<a href="#!" class="text-muted" data-mdb-toggle="tooltip" title="Created date">
											<p class="small mb-0"><i
													class="fas fa-info-circle me-2"></i>{{task.created_date}}</p>
										</a>
									</div>
								</li>

							</ul>
							{%empty%}
							<p class="text-center">there is nothing to show, please add some task first.</p>
							{% endfor %}
							
							<a href="{% url 'todo:create' %}">
								<div class="d-grid gap-2 col-6 mx-auto">
									<button class="btn btn-primary" type="button">Add</button>
									
								</div>
	
							</a>



						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</div>
{% endblock content %}